.contenedor{
    background-color: black;
    height: 500px;
    display: inline-flex;
    justify-content: center;
    flex-direction: row-reverse;
    padding: auto;
    align-items: center;

}
.rojo{
background-color: red;
width: 100px;
height: 100px;
margin: 10px;
font-size: 30px;

}
.verde{
    background-color: green;
width: 100px;
height: 100px;
margin: 10px;
font-size: 30px;

}

.azul{
    background-color: blue;
width: 100px;
height: 100px;
margin: 10px;
font-size: 30px;
}